In [3]:
import pandas as pd
import numpy as np
import sqlalchemy as sqla
from io import StringIO

#establish connection to database
conn = sqla.create_engine('sqlite:///yelp.sqlite')

#split business.json into bussines, attributes, hours and store in a database 
business=pd.read_json("/Users/sihuili/Downloads/yelp_dataset/yelp_academic_dataset_business.json",lines=True)
business.set_index("business_id",inplace=True)

attributes=pd.DataFrame.from_dict(business["attributes"].dropna().to_dict(),orient="index")
attributes.index.name="business_id"

hours=pd.DataFrame.from_dict(business["hours"].dropna().to_dict(),orient="index")
hours.index.name="business_id"

business.drop(["hours","attributes"],axis=1,inplace=True)

business.to_sql('business',conn,if_exists="replace")
hours.to_sql('hours',conn,if_exists="replace")
attributes.to_sql('attributes',conn,if_exists="replace")

#convert checkin.json into clean and neat dataframe and store in the database
checkins=pd.read_json("/Users/sihuili/Downloads/yelp_dataset/yelp_academic_dataset_checkin.json",lines=True,orient="record",chunksize=10000)
for checkin in checkins:
    checkin.set_index("business_id",inplace=True)
    checkin=pd.DataFrame.from_dict(checkin["time"].to_dict(),orient="index")
    checkin.reset_index(inplace=True)
    checkin=checkin.melt(id_vars="index")
    days=pd.read_table(StringIO(checkin['variable'].to_csv(None,index=None)),sep='-',header=None)
    checkin=checkin.join(days)
    checkin.drop("variable",axis=1,inplace=True)
    checkin=checkin[["index",0,1,"value"]]
    checkin.columns=["business_id","weekday","hour","checkins"]
    checkin.set_index("business_id",inplace=True)
    checkin["weekday"]=checkin["weekday"].astype("category")
    checkin.to_sql('checkin',conn,if_exists="append")

#store review.json into the database
reviews=pd.read_json("/Users/sihuili/Downloads/yelp_dataset/yelp_academic_dataset_review.json",chunksize=100000,lines=True)
for review in reviews:
    review.set_index("business_id",inplace=True)
    review.to_sql("review",conn,if_exists="append")

In [64]:
checkin.head()

                       weekday  hour  checkins
business_id
--EF5N7P70J_UYBTPypYlA     Sun     0       NaN
-0CCHBui57tZ_1y_14X-5Q     Sun     0       NaN
-0DET7VdEQOJVJ_v6klEug     Sun     0       5.0
-0K4W5p3wbQe_vDoB5jMgQ     Sun     0       1.0
-0RU0vASJOV383dYA8VZgA     Sun     0       1.0

In [65]:
checkin.shape

(1188600, 3)

In [71]:
import sqlite3
conn = sqlite3.connect('yelp.sqlite')
c = conn.cursor()

In [113]:
cursor = c.execute(''' Select * from checkin; ''')
business_id = []
day_of_week = []
checkin_hours = []
check_in_counts = []
for i in cursor:
    business_id.append(i[0])
    day_of_week.append(i[1])
    hours.append(i[2])
    check_in_counts.append(i[3])

In [114]:
checkin_df = pd.DataFrame({'business_id':business_id, 'day_of_week':day_of_week, 'hours':hours, 'check_in_counts':check_in_counts})

In [116]:
checkin_df.head()

              business_id day_of_week  hours  check_in_counts
0  --cZ6Hhc9F7VkKXxHMVZSQ         Fri      0             18.0
1  --cgVkbWTiga3OYTkymKqA         Fri      0              NaN
2  --i1tTcggBi4cPkd-h5hDg         Fri      0              NaN
3  --lZAZSwpP_axKoL4lR9dQ         Fri      0              NaN
4  -06-Fdi30wJx-JA8P7CAng         Fri      0              2.0

In [ ]:
checkins=pd.read_json("/Users/sihuili/Downloads/yelp_dataset/yelp_academic_dataset_checkin.json",lines=True,orient="record",chunksize=10000)

In [117]:
cursor = c.execute(''' Select * from business limit 100; ''')
for i in cursor:
    print(i)

('Apn5Q_b6Nz61Tq4XzPdf9A', '1314 44 Avenue NE', 'Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel', 'Calgary', 1, 51.0918130155, -114.031674872, 'Minhas Micro Brewery', '', 'T2E 6L6', 24, 4.0, 'AB')
('AjEbIBw6ZFfln7ePHha9PA', '', 'Chicken Wings, Burgers, Caterers, Street Vendors, Barbeque, Food Trucks, Food, Restaurants, Event Planning & Services', 'Henderson', 0, 35.9607337, -114.939821, "CK'S BBQ & Catering", '', '89002', 3, 4.5, 'NV')
('O8S5hYJ1SMc8fA4QBtVujA', '1335 rue Beaubien E', 'Breakfast & Brunch, Restaurants, French, Sandwiches, Cafes', 'Montréal', 0, 45.5405031, -73.5993003, 'La Bastringue', 'Rosemont-La Petite-Patrie', 'H2G 1K7', 5, 4.0, 'QC')
('bFzdJJ3wp3PZssNEsyU23g', '211 W Monroe St', 'Insurance, Financial Services', 'Phoenix', 1, 33.4499993, -112.0769793, 'Geico Insurance', '', '85003', 8, 1.5, 'AZ')
('8USyCYqpScwiNEb58Bt6CA', '2005 Alyth Place SE', 'Home & Garden, Nurseries & Gardening, Shopping, Local Services, Automotive, Electronics Repair', 'Calgary', 1, 51.0355914, -114.0273656, 'Action Engine', '', 'T2H 0N5', 4, 2.0, 'AB')
('45bWSZtniwPRiqlivpS8Og', '20235 N Cave Creek Rd, Ste 1115', 'Coffee & Tea, Food', 'Phoenix', 1, 33.6713751, -112.0300171, 'The Coffee Bean & Tea Leaf', '', '85024', 63, 4.0, 'AZ')
('9A2quhZLyWk0akUetBd8hQ', '631 Bloor St W', 'Food, Bakeries', 'Toronto', 0, 43.6643776, -79.4144238, 'Bnc Cake House', 'Koreatown', 'M6G 1K8', 7, 4.0, 'ON')
('6OuOZAok8ikONMS_T3EzXg', '3417 Derry Road E, Unit 103', 'Restaurants, Thai', 'Mississauga', 1, 43.7129464, -79.6327631, 'Thai One On', 'Ridgewood', 'L4T 1A8', 7, 2.0, 'ON')
('8-NRKkPY1UiFXW20WXKiXg', '1440 N. Dysart Ave', 'Mexican, Restaurants', 'Avondale', 1, 33.4481059352, -112.341302074, "Filiberto's Mexican Food", '', '85323', 40, 2.5, 'AZ')
('UTm5QZThPQlT35mkAcGOjg', '209 Oakland Ave', 'Flowers & Gifts, Gift Shops, Shopping', 'Pittsburgh', 1, 40.4414214, -79.9564571, "Maggie & Stella's Gifts", 'Oakland', '15213', 3, 3.5, 'PA')
('KapTdGyGs7RK0c68Z6hhhg', '4568 Highway 7 E', 'Restaurants, Japanese', 'Markham', 0, 43.862484, -79.3069597, 'Sushi 8', 'Unionville', 'L3R 1M5', 12, 1.5, 'ON')
('tZnSodhPwNr4bzrwJ1CSbw', '595 Markham Street', 'Cajun/Creole, Southern, Restaurants', 'Toronto', 0, 43.6641249, -79.4118861, 'Southern Accent Restaurant', 'Palmerston', 'M6G 2L7', 146, 4.0, 'ON')
('_c3ixq9jYKxhLUB0czi0ug', '2801 N 15th Ave', 'Bars, Sports Bars, Dive Bars, Burgers, Nightlife, Sandwiches, Restaurants', 'Phoenix', 1, 33.4798071, -112.0911877, 'Original Hamburger Works', '', '85007', 277, 4.0, 'AZ')
('bBUMib8l6Me1ZB1_Qkezkg', '4216 Saint-Laurent Boul', 'Restaurants, Pakistani, Indian, Middle Eastern', 'Montréal', 1, 45.5180358, -73.5821744, 'Mysore Indian Cuisine', 'Plateau-Mont-Royal', 'H2W 1Z3', 19, 3.5, 'QC')
('o_zDURWzgt5yM5HW_xGJsg', '4404 14 Street NW', 'Beauty & Spas, Barbers', 'Calgary', 1, 51.0918572, -114.094625, 'North Haven Barber Shop', '', 'T2K', 3, 4.5, 'AB')
('IbTDLI02Sq50C7B-EWK1sg', '1200 37 St SW', 'Delis, Restaurants, Sandwiches', 'Calgary', 1, 51.0424689, -114.1395743, 'Safeway Food & Drug', '', 'T3C 1S2', 4, 2.5, 'AB')
('r89Re4FNgVWHgBfjCVZyVw', '438 Place Jacques Cartier', 'Nightlife, Bars, American (Traditional), Tapas/Small Plates, Poutineries, Supper Clubs, Restaurants, Tapas Bars', 'Montréal', 0, 45.507699, -73.55340699999999, 'Harlow', 'Ville-Marie', 'H2Y 3B3', 12, 3.5, 'QC')
('hTzcHtk4-0QJnFUbkKpd5Q', '703 N Rancho Dr', 'Shopping, Fashion, Department Stores', 'Las Vegas', 1, 36.1783477, -115.1769162, 'Citi Trends', '', '89106', 4, 4.0, 'NV')
('UwIpS9UKsPiKAv1fiEYhqg', '1549 N Rancho Dr', 'Financial Services, Check Cashing/Pay-day Loans, Title Loans', 'Las Vegas', 1, 36.1883858514, -115.186123699, 'Nevada Title And Payday Loans', '', '89106', 4, 1.0, 'NV')
('vJIuDBdu01vCA8y1fwR1OQ', '3940 Martin Luther King Blvd, Ste 101', 'American (Traditional), Food, Bakeries, Restaurants', 'Las Vegas', 0, 36.1922841, -115.1592718, 'CakesbyToi', '', '89106', 3, 1.5, 'NV')
('YZCHr68c5aEVHz0bkq9K2g', '', 'Home Services, Masonry/Concrete, Professional Services, Contractors', 'Las Vegas', 1, 36.2608162, -115.1711298, 'Park Stone Pavers', '', '89031', 20, 5.0, 'NV')
('gJ5xSt6147gkcZ9Es0WxlA', '3040 Carnegie Ave', 'Fast Food, Burgers, Restaurants', 'Cleveland', 1, 41.4999894, -81.6663746, "Rally's Hamburgers", 'Central', '44115', 5, 3.0, 'OH')
('3ByGQOVgds2YEu6kzl-XEQ', '4131 N 83rd Ave', 'Nightlife, Bars, American (Traditional), Sports Bars, Restaurants', 'Phoenix', 1, 33.4952976, -112.2360764, 'Rib Shop', '', '85033', 3, 2.5, 'AZ')
('5J3b7j3Fzo9ISjChmoUoUA', '746 Street Clair Avenue W', 'Food, Bakeries, Coffee & Tea', 'Toronto', 1, 43.6813277, -79.4278838, "Mabel's Bakery", 'Wychwood', 'M6C 1B5', 23, 4.0, 'ON')
('CeuTRtwsq6w5rztGOyNMPg', '7745 W Thomas Rd', 'Mexican, Restaurants', 'Phoenix', 1, 33.4796712, -112.2251729, 'Salsitas', '', '85033', 14, 2.5, 'AZ')
('gsoSAb9t7Ar7Ww6O_3GuOg', '1204 Bear Ln', 'Mexican, Restaurants', 'Monticello', 0, 40.0093278, -88.5763857, 'Los Toros Numero 2', '', '61856', 6, 3.5, 'IL')
('guRyrKMBDkcHExGzwxSfvg', '', 'Home Services, Home Automation, Security Systems', 'Phoenix', 1, 33.4316647997, -112.102958984, 'ADT Security Services, Inc.', '', '85001', 4, 1.0, 'AZ')
('PMDlKLd0Mxj0ngCpuUmE5Q', '99 Yorkville Avenue', 'Restaurants, Food, Canadian (New), Coffee & Tea', 'Toronto', 0, 43.6708846, -79.3923788, 'The Coffee Mill Restaurant', 'Yorkville', 'M5R 3K5', 25, 3.5, 'ON')
('65DAbjsiws2_T600pNpWFQ', '1-905 Britannia Road West', 'Optometrists, Shopping, Eyewear & Opticians, Health & Medical', 'Mississauga', 1, 43.6092686, -79.6990349, 'Laurier Optical', 'East Credit', 'L5V 2X8', 3, 1.0, 'ON')
('6YC6CsXRrmPv_iwfvc9onA', '9525 State Rt 14', 'Pizza, Restaurants', 'Streetsboro', 1, 41.2437831, -81.3566613, 'Teresas Pizzeria', '', '44241', 11, 3.0, 'OH')
('42uRhhQDzbtKrUYoBPXS8A', '5508 County Rd N, Ste 3', 'Nightlife, Restaurants, Bars, Chicken Wings, American (Traditional)', 'Sun Prairie', 1, 43.149488, -89.206641, 'Chicken Lips', '', '53590', 102, 4.5, 'WI')
('B_mz59xi-Q3zCIiXsnBM_A', '3008 County Hwy T', 'Shopping, Gardeners, Home Services, Nurseries & Gardening, Landscaping, Home & Garden, Landscape Architects', 'Sun Prairie', 1, 43.1223953, -89.2391405, 'Schonheit Gardens', '', '53590', 3, 3.5, 'WI')
('kgffcoxT6BQp-gJ-UQ7Czw', '2255 N Rampart Blvd', 'Fast Food, Restaurants, Sandwiches', 'Las Vegas', 1, 36.2017936, -115.2819809, 'Subway', 'Summerlin', '89128', 13, 2.5, 'NV')
('0jtRI7hVMpQHpUVtUy4ITw', '2227 N Rampart Blvd', 'Beer, Wine & Spirits, Italian, Food, American (Traditional), Breakfast & Brunch, Restaurants', 'Las Vegas', 1, 36.2019904392, -115.283122245, 'Omelet House Summerlin', 'Summerlin', '89128', 242, 4.0, 'NV')
('pbluh-ZZi_i8XlprfWB1nQ', '28325 N Tatum Blvd, Ste 5', 'Health & Medical, Hair Salons, Skin Care, Hair Extensions, Medical Spas, Cryotherapy, Beauty & Spas', 'Cave Creek', 1, 33.7424883225, -111.977420267, 'Pamper Me Perfect Beauty & Wellness', '', '85331', 12, 4.5, 'AZ')
('UeyHx5LMFjjI4d-NTYkX9Q', '15916 W High St', 'Restaurants, Cafes', 'Middlefield', 1, 41.462443, -81.0749908, "Crossroads Country Cafe'", '', '44062', 3, 2.5, 'OH')
('WbcAPa3frXsIomKLn2oVDw', '2930 Medina Rd', 'Ice Cream & Frozen Yogurt, Food', 'Medina', 0, 41.135371, -81.793211, "Strickland's Ice Cream", '', '44256', 3, 3.5, 'OH')
('qHF2s8U2yzPLgIOGH_IMBw', '15828 Euclid Ave', 'Seafood, Restaurants', 'Cleveland', 1, 41.541570899999996, -81.5699009, "John John's Seafood", 'Collamer', '44112', 3, 4.5, 'OH')
('iTZDPTc36guXhNhoK-jwmw', '3319 S Mercy Rd', 'Health & Medical, Physical Therapy, Retirement Homes', 'Gilbert', 1, 33.2905965, -111.7478144, 'Wellsprings of Gilbert', '', '85297', 4, 5.0, 'AZ')
('AcGRSWCpb7YB95MTsHlGEw', '4145 N 83Rd', 'Pizza, Fast Food, Restaurants', 'Phoenix', 1, 33.4954215852, -112.235797843, 'Little Caesars Pizza', '', '85033', 4, 2.0, 'AZ')
('Zkesf4VRamyOBswJA4_ZhQ', '2929 North 75th Ave, Suite 26', 'Automotive, Auto Customization, Shopping, Auto Security, Car Stereo Installation, Electronics', 'Phoenix', 1, 33.509413, -112.203724, 'Audio Express', '', '85033', 29, 3.5, 'AZ')
('7A6mfqSfG3AG3WZcr45m-Q', '145 Mcmurray Rd', 'Coffee & Tea, Food, Breakfast & Brunch, Restaurants, Donuts', 'Upper St Clair', 1, 40.326016, -80.065199, 'Dunkin Donuts', '', '15241', 5, 2.0, 'PA')
('3pcHGNI8WHv44fcvgkLrMg', '100 Steelcase Rd E, Unit 101', 'Home Services, Shopping, Home & Garden, Kitchen & Bath, Interior Design', 'Markham', 1, 43.8201194, -79.347455, 'Art Bathe', '', 'L3R 1E9', 4, 2.0, 'ON')
('zHwXoh40k86P0aiN1aix9Q', '3280 Kingston Road', 'Hotels, Hotels & Travel, Event Planning & Services', 'Toronto', 1, 43.7333951, -79.2242058, 'Super 8 by Wyndham Toronto East ON', 'Scarborough', 'M1M 1P8', 3, 2.0, 'ON')
('0i6GlR5YTCMlwthjqw6ZTQ', '2101 S Decatur Blvd, Ste 11', 'Hair Salons, Beauty & Spas', 'Las Vegas', 1, 36.1486584, -115.2098129, "Cinthya's Beauty Salon", 'Westside', '89102', 16, 4.5, 'NV')
('oSS0p8TeF9BTTD7QWtO6gg', '3111 S Valley View Blvd, Unit B120', 'Flooring, Cabinetry, Refinishing Services, Home Services, Masonry/Concrete, Tiling, Plumbing, Contractors', 'Las Vegas', 1, 36.1316401, -115.1908263, 'Aria Remodeling', 'Westside', '89102', 3, 5.0, 'NV')
('2C8x0RxmqvCOmhvXce4-HA', '3733 Jarry Rue E', 'Grocery, Food', 'Montréal', 1, 45.5687842, -73.6054883, 'Kim Phat Inc', 'Villeray-Saint-Michel-Parc-Extension', 'H1Z 2G1', 5, 4.0, 'QC')
('cKRMmytHxaSt8F0SMEzKqg', '1111 W Bell Rd', 'Event Planning & Services, Soup, Salad, Mexican, Caterers, Restaurants', 'Phoenix', 1, 33.6397742, -112.0877381, "Manuel's Mexican Restaurant & Cantina - Bell Rd", '', '85023', 230, 3.5, 'AZ')
('uwF2y-QHF9LgSagxxluWaw', '880 16 Avenue SW, Unit 200', 'Active Life, Trainers, Gyms, Sports Clubs, Fitness & Instruction', 'Calgary', 1, 51.038371, -114.081121, 'GoodLife Fitness', '', 'T2R 0S9', 6, 2.5, 'AB')
('5vpMTDaAkpu9PBW1psG_RA', '547 California Ave', 'Auto Repair, Automotive', 'Avalon', 1, 40.502098, -80.0692605, 'E R Automotive', 'Avalon', '15202', 4, 5.0, 'PA')
('DR30lzIHVTF6xhyMI-3IlQ', '1422 Western Ave', 'Thrift Stores, Shopping, Used, Vintage & Consignment, Antiques, Fashion, Auction Houses', 'Las Vegas', 1, 36.154233, -115.160753, 'Not Just Antiques Mart', '', '89102', 17, 3.5, 'NV')
('wv9KN5x8L2qzKFq_6Hzf9g', '1 Queens Park Crescent E', 'Public Services & Government, Landmarks & Historical Buildings', 'Toronto', 1, 43.6619640179, -79.3912587147, 'Legislative Assembly of Ontario', 'Discovery District', 'M5S', 3, 4.5, 'ON')
('VVtPNiqwtR_Os7J51mANGQ', '3105 Westwood Dr', 'Motorcycle Rental, Active Life, Motorcycle Dealers, Scooter Rentals, Automotive, Scooter Tours, Bike Rentals, Car Rental, Tours, Hotels & Travel, Truck Rental, ATV Rentals/Tours', 'Las Vegas', 1, 36.1333689916, -115.178365074, 'JAM Scooter Rental Of Las Vegas', '', '89109', 28, 5.0, 'NV')
('Be7Mwq06nf1eNLblo1ekow', '788 Wilson Avenue', 'Bakeries, Food, Latin American, Restaurants, Sandwiches', 'North York', 1, 43.731316, -79.4651329, 'La Rosa Chilena', 'Downsview', 'M3K 1E2', 5, 2.5, 'ON')
('yDN-NuZXVSQxV4LXgL2AlQ', '150 Telson Road, Unit B', 'Movers, Home Services', 'Markham', 1, 43.820729, -79.338647, 'Jia Jia International Moving', '', 'L3R 1E5', 10, 4.0, 'ON')
('FIxb1ehBrjCxp6PWB45dEA', '215 E Patty Ln', 'Plumbing, Home Services', 'Monroeville', 1, 40.4257272, -79.7341381, "Brett's Plumbing", '', '15146', 3, 5.0, 'PA')
('Uqf2TRU3mSTKDq5jg5R8Iw', '1750 Steeles Avenue W, Unit 8B', 'Fitness & Instruction, Gyms, Trainers, Active Life', 'Concord', 1, 43.785955, -79.4780042, 'Crossfit Revitalize', '', 'L4K 2L7', 4, 5.0, 'ON')
('AYL_y8ahquUW0o-cvIyLbg', '2908 Oak Lake Blvd', 'Restaurants, Pizza', 'Charlotte', 1, 35.190366, -80.922471, "Junior's Pizzeria", '', '28208', 85, 3.5, 'NC')
('syCI-5YJ8VJhFzHlzfpP0g', '', 'Home Services, Contractors', 'Las Vegas', 1, 36.3656399, -115.2244853, 'Shower Solutions', '', '89131', 3, 2.0, 'NV')
('Aws6VX-PDsZoCw9oHpBMCg', '2812 W Sugar Creek Rd', 'Fast Food, Restaurants, Sandwiches, Food', 'Charlotte', 1, 35.301882, -80.801484, 'Subway', 'Derita', '28262', 3, 2.0, 'NC')
('rmGQGPpk1XZFTkz-4IGHCw', '1913 J N Pease Pl, Ste 104', 'Health & Medical, Diagnostic Imaging, Diagnostic Services, Arts & Entertainment', 'Charlotte', 1, 35.3209173024, -80.7734003228, 'Baby Bundle 3d/4d Ultrasound', 'Derita', '28262', 3, 4.0, 'NC')
('JJEx5wIqs9iGGATOagE8Sg', '7930 W Tropical Pkwy', 'Mexican, Restaurants', 'Las Vegas', 0, 36.271169, -115.2677588, 'Baja Fresh Mexican Grill', 'Centennial', '89149', 4, 2.0, 'NV')
('Go1avDDg--JjbdI2aRJQog', '20-523 Woodpark Boulevard SW', 'Pubs, Nightlife, Bars', 'Calgary', 1, 50.940876, -114.1098157, 'Red Crowns Pub', '', 'T2W 4J3', 9, 3.0, 'AB')
('tKjW_YEP-vcuEwJ5di2HBA', '9550 W Van Buren, Ste 19', 'Waxing, Nail Salons, Eyelash Service, Beauty & Spas, Hair Removal', 'Tolleson', 1, 33.4509416724, -112.265444762, 'KD Nails', '', '85353', 22, 4.5, 'AZ')
('NzhRebtw2AIxXkVO_BrOOQ', '1525 W Wt Harris Blvd', 'Health & Medical, Dentists, Cosmetic Dentists, General Dentistry', 'Charlotte', 1, 35.3121591, -80.7728367, 'Family Dentistry at CIC', 'Derita', '28262', 4, 2.0, 'NC')
('JbIi9WCtidvqdTt8l2KMQg', '10473 Dean Martin Dr', 'Gas Stations, Car Wash, Automotive', 'Las Vegas', 1, 35.9995945787, -115.183851533, 'Chevron Pitstop', 'Southwest', '89141', 17, 4.0, 'NV')
('V2OhrW7RDCQwSdDeILOTgA', '1444 E Main St', 'Shopping, Pawn Shops, Jewelry', 'Mesa', 1, 33.4156429, -111.7997071, 'Gold Pawn Brokers', '', '85203', 3, 5.0, 'AZ')
('UmZnFzo-NK2daxkl3_Rieg', '531 Clairton Blvd, Unit 7', 'Hair Salons, Beauty & Spas', 'Pittsburgh', 1, 40.326984, -79.9573294, 'Philip Pelusi', '', '15236', 5, 4.5, 'PA')
('3JhKtHSmvwzGBysraUVMDg', '1720 Washington Rd', 'Professional Services, Local Services, Shipping Centers, Printing Services, Signmaking', 'Pittsburgh', 1, 40.3481862077, -80.0533735153, 'FedEx Office Print & Ship Center', '', '15241', 5, 3.5, 'PA')
('RJEtBRLJmmji_QoqS6ysjg', '273 Bloor Street W', 'Music Venues, Arts & Entertainment, Nightlife', 'Toronto', 1, 43.6677486, -79.3961666, 'Royal Conservatory of Music', 'University of Toronto', 'M5S 1W2', 3, 4.5, 'ON')
('Kx_ID8LImPOZaQ-75Fj8NQ', '256 17 Avenue NE', 'Landscaping, Home Services, Home & Garden, Snow Removal, Shopping, Local Services, Gutter Services', 'Calgary', 1, 51.067897, -114.056783, 'On The Path Yard Care', '', 'T2E 1L8', 3, 5.0, 'AB')
('v33d7h_Zw_I9ZSxvPdqtkw', '1001 New Beginnings Dr', 'Churches, Religious Organizations', 'Henderson', 1, 36.0804531, -115.0381656, 'Central Church - Henderson', '', '89011', 113, 4.0, 'NV')
('Vk-mhesVc-Lp_1eOcggSMg', '650 W Sunset Rd', 'Venues & Event Spaces, Wedding Chapels, Photographers, Event Planning & Services', 'Henderson', 1, 36.0641464, -115.0199541, 'Sunset Castle', '', '89011', 5, 5.0, 'NV')
('f2FfutZhb4F-m1Ob0EdYaw', '5440 Walnut St', 'Asian Fusion, Caterers, Fast Food, Chinese, Restaurants, Vegetarian, Food Delivery Services, Event Planning & Services, Food', 'Pittsburgh', 1, 40.450866, -79.933919, 'China Palace', 'Shadyside', '15232', 110, 3.0, 'PA')
('c0XiOTAsYAcsKAqxSVfDOw', '3975 Cascades Blvd, Ste 3', 'Waxing, Blow Dry/Out Services, Hair Salons, Hair Stylists, Day Spas, Massage, Hair Removal, Beauty & Spas', 'Kent', 1, 41.097423, -81.3882792, 'Blondie & Co Salon', '', '44240', 3, 5.0, 'OH')
('wAoCkTlBPr0wDGByS3gDfQ', '13991 Cedar Rd', 'Home & Garden, Shopping, Mattresses, Furniture Stores', 'South Euclid', 1, 41.5015857, -81.5367757, 'Mattress Firm South Euclid', '', '44118', 13, 4.5, 'OH')
('IuUgEL8Nu_Vbif057-659Q', '3975 Cascades Blvd', 'Department Stores, Shopping, Fashion', 'Kent', 1, 41.097310809, -81.387898922, 'Marshalls', '', '44240', 5, 2.5, 'OH')
('tXMYTZc0lxLNpnU1lI5j0Q', '13723 N Litchfield Rd', 'Shopping, Drugstores, Medical Supplies', 'Surprise', 1, 33.6090600169, -112.359004654, 'Walgreens', '', '85379', 5, 4.0, 'AZ')
('y-4xTZNKVm8mAZpiXMS5ZA', '690 E Warner Rd, Bldg 5, Ironwood Urology', 'Urologists, Doctors, Health & Medical', 'Gilbert', 1, 33.3365234, -111.7755995, 'Lauren Byrne, MD', '', '85296', 9, 2.5, 'AZ')
('fwp7nkCnn5jhHuIwJWfl5A', '1495 S Higley Rd', 'Fitness & Instruction, Gyms, Health & Medical, Active Life, Weight Loss Centers, Trainers', 'Gilbert', 1, 33.323027, -111.719632, 'Fit Life 120', '', '85296', 4, 3.0, 'AZ')
('YIez_A3WOt9J2SXN7OMa2Q', '81 Underhill Drive', 'Caribbean, Food, Bakeries, Restaurants', 'Toronto', 1, 43.7459284, -79.3246225, "Allwyn's Bakery", '', 'M3A 1K8', 105, 4.0, 'ON')
('y0f3gSQGDMNJiCfTH4CsXA', '34522 N Scottsdale Rd', 'Shopping, Mattresses, Home & Garden, Furniture Stores', 'Scottsdale', 1, 33.7988261379, -111.9304195, 'Mattress Firm Carefree', '', '85266', 11, 5.0, 'AZ')
('xuUzASHWjRJRFv6Ck5pO7g', 'Richmond Adelaide Centre, 120 Adelaide St W', 'Food, Bakeries', 'Toronto', 0, 43.6499721, -79.3832232, 'Fornetti', 'Financial District', 'M5H 3V1', 3, 3.5, 'ON')
('coVhQD_EAnCof_a8sGM03g', '5115 Spring Mountain Rd', 'Bakeries, Food', 'Las Vegas', 0, 36.125587, -115.211199, 'Provence Bakery', 'Chinatown', '89146', 8, 2.0, 'NV')
('dYBF1MFzxo6DehQVYsjxXA', '103 Ave And Broadway', 'Beauty & Spas, Makeup Artists, Hair Salons, Eyelash Service, Hair Stylists', 'Phoenix', 1, 33.406453, -112.2807774, 'Makeupbygaby1974', '', '85353', 3, 5.0, 'AZ')
('Ju2tEB-zllh9FoCmaQhPOw', '42407 N Vison Way, Ste 108', 'Pets, Pet Groomers, Pet Services', 'Phoenix', 1, 33.8696679, -112.1508924, 'Above and Beyond Dog Grooming', '', '85086', 14, 3.5, 'AZ')
('3jh0v0Gz7OOhDmWnQ7sP5g', '7220 W Azure Dr, Ste 120', 'Shopping, Tobacco Shops, Vape Shops', 'Las Vegas', 0, 36.274166, -115.252954, 'Vegas Vapolife', 'Centennial', '89130', 8, 4.5, 'NV')
('j7yI3qYRsbGBUv9rShLCaQ', '5451 Highway, Unit 7', 'Restaurants, Food, Italian, Ice Cream & Frozen Yogurt', 'Woodbridge', 1, 43.7767190083, -79.6036142656, 'Ice Cream Patio', '', 'L4L 0B2', 28, 3.0, 'ON')
('mr3rQcYBKWu2L6o7qtQ9Wg', '1028 Shaw St', 'Restaurants, Food, Coffee & Tea, Breakfast & Brunch', 'Toronto', 0, 43.6691157, -79.4260211, 'Hub Coffee House & Locavorium', 'Christie Pits', 'M6G 3N2', 31, 4.0, 'ON')
('qfcdMhm1Ff28JHVpHca20g', '4635 Centre Ave', 'Pizza, Restaurants', 'Pittsburgh', 1, 40.4524104, -79.9506684, 'Pizza Bellagio', 'Oakland', '15213', 18, 1.5, 'PA')
('jaKf1HVjEEsSMoFvpQdMNQ', '2523 South Blvd', 'Pet Groomers, Pet Boarding, Pets, Veterinarians, Pet Stores, Pet Sitting, Pet Services', 'Charlotte', 1, 35.2023634, -80.8646618, 'Long Animal Hospital', 'South End', '28203', 103, 3.5, 'NC')
('_BTuRiKz1PlotKek4AtzzQ', '3429 Toringdon Way', 'Nail Salons, Beauty & Spas', 'Charlotte', 1, 35.0684311, -80.8419307, 'Apple Nail & Spa', 'Ballantyne', '28277', 68, 4.5, 'NC')
('DqZzBPoiGt_FCTfNwPYwzw', '126 Clark Avenue E', 'Restaurants, Pizza', 'Thornhill', 1, 43.8099393086, -79.4112146813, "Regino's Pizza", 'Langstaff', 'L3T 1S9', 23, 4.5, 'ON')
('rahEQ5YzoOu7uoWFMca3xw', '100 City Centre Drive', 'Fashion, Shopping, Department Stores', 'Mississauga', 1, 43.5943962837, -79.6411609325, 'Walmart', '', 'L5B 2G6', 12, 3.0, 'ON')
('U1xFNmJl4SVmKS1YYkneuA', '2008 33 Ave SW', 'Delis, Restaurants, Food, Coffee & Tea', 'Calgary', 1, 51.0241624, -114.1076364, 'Avenue Deli', '', 'T2T 1Z4', 17, 3.5, 'AB')
('Q_cfbLdAxkLiEZW5TO5T6A', '3469 Lake Shore Boulevard W', 'Food, Bakeries', 'Toronto', 1, 43.5951494, -79.5299771, 'More Than Pies Baking', 'Etobicoke', 'M8W 1N2', 9, 4.0, 'ON')
('Ea5a2Ov4s_D3Vx4j7jkEEg', '550 Eglinton Avenue W', 'Drugstores, Shopping', 'Toronto', 1, 43.703344498, -79.4154372029, 'Shoppers Drug Mart', '', 'M5N 0A1', 3, 1.0, 'ON')
('cuXCQM-9VwpZlSneEY1b3w', '1701 Bayview Avenue', 'Nightlife, Wine Bars, Indian, Restaurants, Bars', 'Toronto', 1, 43.708002, -79.375814, 'Indian Street Food Company', 'Mount Pleasant and Davisville', 'M4G 3C1', 51, 3.5, 'ON')
('XEGzpaKszjDXqSJtLYwKsg', '3120 S Mill Ave', 'Beauty & Spas, Nail Salons', 'Tempe', 1, 33.3948204829, -111.940654628, 'Popular Nails', '', '85282', 40, 3.0, 'AZ')
('od5dCR8QPU67t8Ku6CBezw', '444 W Broadway Rd', 'Financial Services, Banks & Credit Unions', 'Tempe', 1, 33.407784, -111.945686, 'Chase Bank', '', '85282', 5, 2.5, 'AZ')

In [120]:
i

('od5dCR8QPU67t8Ku6CBezw',
 '444 W Broadway Rd',
 'Financial Services, Banks & Credit Unions',
 'Tempe',
 1,
 33.407784,
 -111.945686,
 'Chase Bank',
 '',
 '85282',
 5,
 2.5,
 'AZ')

In [ ]:
cursor = c.execute(''' Select * from business limit 100; ''')
for i in cursor:
    print(i)

In [122]:
business.head()

,address,categories,city,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
business_id,,,,,,,,,,,,
Apn5Q_b6Nz61Tq4XzPdf9A,1314 44 Avenue NE,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB
AjEbIBw6ZFfln7ePHha9PA,,"Chicken Wings, Burgers, Caterers, Street Vendo...",Henderson,0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,3,4.5,NV
O8S5hYJ1SMc8fA4QBtVujA,1335 rue Beaubien E,"Breakfast & Brunch, Restaurants, French, Sandw...",Montréal,0,45.540503,-73.599300,La Bastringue,Rosemont-La Petite-Patrie,H2G 1K7,5,4.0,QC
bFzdJJ3wp3PZssNEsyU23g,211 W Monroe St,"Insurance, Financial Services",Phoenix,1,33.449999,-112.076979,Geico Insurance,,85003,8,1.5,AZ
8USyCYqpScwiNEb58Bt6CA,2005 Alyth Place SE,"Home & Garden, Nurseries & Gardening, Shopping...",Calgary,1,51.035591,-114.027366,Action Engine,,T2H 0N5,4,2.0,AB

In [126]:
attributes.head()

,BikeParking,BusinessAcceptsCreditCards,BusinessParking,GoodForKids,HasTV,NoiseLevel,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,...,Music,Smoking,ByAppointmentOnly,AcceptsInsurance,BusinessAcceptsBitcoin,HairSpecializesIn,AgesAllowed,RestaurantsCounterService,Open24Hours,DietaryRestrictions
business_id,,,,,,,,,,,,,,,,,,,,,
--1UhMGODdWsrMastO9DZw,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",True,NaN,quiet,True,casual,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--6MefnULPED_I942VcFNA,False,True,"{'garage': False, 'street': False, 'validated'...",True,False,average,False,casual,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--7zmmkVg-IMGaXbuVd0SQ,True,True,"{'garage': False, 'street': False, 'validated'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--8LPVSo5i0Oo61X01sV9A,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,True,True,NaN,NaN,NaN,NaN,NaN,NaN
--9QQLMTbFzLJ_oT-ON3Xw,NaN,True,"{'garage': False, 'street': False, 'validated'...",True,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
hours=pd.DataFrame.from_dict(business["hours"].dropna().to_dict(),orient="index")
hours.index.name="business_id"

In [130]:
hours.head()

,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
business_id,,,,,,,
0,8:30-17:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,NaN
1,NaN,NaN,NaN,NaN,17:0-23:0,17:0-23:0,17:0-23:0
2,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0,10:0-22:0
4,8:0-17:0,8:0-17:0,8:0-17:0,8:0-17:0,8:0-17:0,NaN,NaN
5,5:30-20:0,5:30-20:0,5:30-20:0,5:30-20:0,5:30-21:0,5:30-21:0,6:30-19:0

In [131]:
business.shape

(188593, 15)

In [139]:
city = business.city.value_counts().index

In [133]:
df = business.groupby('business_id')['business_id'].nunique()

In [136]:
df.value_counts()

1    188593
Name: business_id, dtype: int64

In [176]:
D_city = []
for i in list(city):
    if len(i) > 0:
        if i[0:2] == 'La':
            D_city.append(i)

In [181]:
D_city.sort()
D_city

['La Baie',
 'La Prairie',
 'La Salle',
 'La Vegas',
 'LaSalle',
 'Lachenaie',
 'Lachine',
 'Lachute',
 'Lacolle',
 'Lagrange',
 'Lake Las Vegas',
 'Lake Norman',
 'Lake Park',
 'Lake Wylie',
 'Lakewood',
 'Lakewood, Oh',
 'Lam',
 'Lambton',
 'Landau',
 'Landsberg',
 'Larimer',
 'Las  Vegas',
 'Las Vegas',
 'Las Vegas & Henderson',
 'Las Vegas East',
 'Las Vegas Nevada',
 'Las Vegas Nv',
 'Las Vegas,',
 'Las Vegas, NV',
 'Las Vegass',
 'Las vegas',
 'LasVegas',
 'Lasalle',
 'Laval',
 'Laval, Pont Viau',
 'Laval, Ste Dorothee',
 'Lavaltrie',
 'Laveen',
 'Laveen Village',
 'Lawrence',
 'Lawrenceville']

In [182]:
% pwd

'/Users/sihuili'