In [104]:
import pandas as pd
import numpy as np
import sqlalchemy as sqla
import random
import spacy
from spacy.util import minibatch, compounding
import time

In [2]:
# construct connection to database
conn = sqla.create_engine('sqlite:///yelp.sqlite')

In [3]:
# query data from database
test = pd.read_sql_query("select * from review limit 20",conn)

In [91]:
test['text'][2]

'Terrible. Dry corn bread. Rib tips were all fat and mushy and had no flavor. If you want bbq in this neighborhood go to john mulls roadkill grill. Trust me.'

In [93]:
%%time
# Default estimator
m = test['text'][2]
import textblob
from textblob import TextBlob
senti = TextBlob(m)
print(senti.sentiment)

Sentiment(polarity=-0.5333333333333333, subjectivity=0.8)
CPU times: user 1.4 ms, sys: 1.02 ms, total: 2.42 ms
Wall time: 3.86 ms

In [6]:
%%time
# NaiveBayes estimator:
from textblob.sentiments import NaiveBayesAnalyzer
senti = TextBlob(m,analyzer=NaiveBayesAnalyzer())
print(senti.sentiment)

Sentiment(classification='pos', p_pos=0.9136346853028313, p_neg=0.08636531469717702)
CPU times: user 4.15 s, sys: 514 ms, total: 4.66 s
Wall time: 5.23 s

**textblob doesn't have a acceptable accuracy especially for food review. Naivebayes is slow and inaccurate. I did a little research on how textblob calculates the sentiment. It turns out they have a XML file that contains polarity score for each words, and the overall polarity score is just the average of polarity scores of each word (Link: https://planspace.org/20150607-textblob_sentiment/ ). This is a poor way of estimating the sentiment score. Consider training my own NLP model.**

# SpaCy Text Categorizer    
I will train the model with Amazon's food review

In [9]:
amz_review = pd.read_csv('Amazon_Reviews.csv')
amz_review.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [17]:
# rescale score between -1 and 1
norm_score = np.interp(amz_review.Score.values,(amz_review.Score.values.min(),amz_review.Score.values.max()),(-1,+1))

In [18]:
amz_review['norm_score'] = norm_score

In [64]:
amz_review['train_tuple'] = amz_review.apply(lambda row: (row['Text'],row['Score']),axis=1)
train = amz_review['train_tuple'].tolist()
train[0]

('I have bought several of the Vitality canned dog food products and have found them all to be of good quality. The product looks more like a stew than a processed meat and it smells better. My Labrador is finicky and she appreciates this product better than  most.',
 5)

In [70]:
#functions from spacy documentation
def load_data(limit=0, split=0.8):
    train_data = train
    np.random.shuffle(train_data)
    train_data = train_data[-limit:]
    texts, labels = zip(*train_data)
    cats = [{'POSITIVE': y >= 3} for y in labels]
    split = int(len(train_data) * split)
    return (texts[:split], cats[:split]), (texts[split:], cats[split:])

def evaluate(tokenizer, textcat, texts, cats):
    docs = (tokenizer(text) for text in texts)
    tp = 1e-8  # True positives
    fp = 1e-8  # False positives
    fn = 1e-8  # False negatives
    tn = 1e-8  # True negatives
    for i, doc in enumerate(textcat.pipe(docs)):
        gold = cats[i]
        for label, score in doc.cats.items():
            if label not in gold:
                continue
            if score >= 0.5 and gold[label] >= 0.5:
                tp += 1.
            elif score >= 0.5 and gold[label] < 0.5:
                fp += 1.
            elif score < 0.5 and gold[label] < 0.5:
                tn += 1
            elif score < 0.5 and gold[label] >= 0.5:
                fn += 1
    precision = tp / (tp + fp)
    recall = tp / (tp + fn)
    f_score = 2 * (precision * recall) / (precision + recall)
    return {'textcat_p': precision, 'textcat_r': recall, 'textcat_f': f_score}

In [71]:
#("Number of texts to train from","t" , int)
n_texts=300000
#You can increase texts count if you have more computational power.
#("Number of training iterations", "n", int))
n_iter=10

In [72]:
nlp = spacy.load('en_core_web_sm')  # create english Language class

In [73]:
# add the text classifier to the pipeline if it doesn't exist
# nlp.create_pipe works for built-ins that are registered with spaCy
if 'textcat' not in nlp.pipe_names:
    textcat = nlp.create_pipe('textcat')
    nlp.add_pipe(textcat, last=True)
# otherwise, get it, so we can add labels to it
else:
    textcat = nlp.get_pipe('textcat')

# add label to text classifier
textcat.add_label('POSITIVE')

# load the dataset
print("Loading food reviews data...")
(train_texts, train_cats), (dev_texts, dev_cats) = load_data(limit=n_texts)
print("Using {} examples ({} training, {} evaluation)"
      .format(n_texts, len(train_texts), len(dev_texts)))
train_data = list(zip(train_texts,
                      [{'cats': cats} for cats in train_cats]))

Loading food reviews data...
Using 30000 examples (24000 training, 6000 evaluation)

In [77]:
%%time
# Training
# get names of other pipes to disable them during training
other_pipes = [pipe for pipe in nlp.pipe_names if pipe != 'textcat']
with nlp.disable_pipes(*other_pipes):  # only train textcat
    optimizer = nlp.begin_training()
    print("Training the model...")
    print('{:^5}\t{:^5}\t{:^5}\t{:^5}'.format('LOSS', 'P', 'R', 'F'))
    for i in range(n_iter):
        start = time.time()
        losses = {}
        # batch up the examples using spaCy's minibatch
        batches = minibatch(train_data, size=compounding(4., 32., 1.001))
        for batch in batches:
            texts, annotations = zip(*batch)
            nlp.update(texts, annotations, sgd=optimizer, drop=0.2,
                       losses=losses)
        with textcat.model.use_params(optimizer.averages):
            # evaluate on the dev data split off in load_data()
            scores = evaluate(nlp.tokenizer, textcat, dev_texts, dev_cats)
        stop = time.time()
        print('{0:.3f}\t{1:.3f}\t{2:.3f}\t{3:.3f}'  # print a simple table
              .format(losses['textcat'], scores['textcat_p'],
                      scores['textcat_r'], scores['textcat_f']))
        print('time for one iteration is {}'.format(stop-start))

Warning: Unnamed vectors -- this won't allow multiple vectors models to be loaded. (Shape: (0, 0))
Training the model...
LOSS 	  P  	  R  	  F
204.768	0.910	0.983	0.945
time for one iteration is 155.03080892562866
123.836	0.925	0.975	0.949
time for one iteration is 178.083074092865
94.492	0.930	0.973	0.951
time for one iteration is 176.36578583717346
84.068	0.934	0.969	0.951
time for one iteration is 181.42677283287048
74.010	0.934	0.969	0.951
time for one iteration is 185.3597228527069
68.926	0.933	0.969	0.950
time for one iteration is 188.23954820632935
64.172	0.935	0.966	0.950
time for one iteration is 177.8659210205078
60.054	0.935	0.968	0.951
time for one iteration is 180.7558081150055
63.498	0.935	0.968	0.951
time for one iteration is 178.3223419189453
57.024	0.936	0.968	0.951
time for one iteration is 174.05425381660461
CPU times: user 48min 14s, sys: 1min 54s, total: 50min 9s
Wall time: 29min 35s

In [92]:
doc = nlp(test['text'][2])
doc.cats

{'POSITIVE': 0.0005693367565982044}

In [80]:
test_text2 = 'This tea is fun to watch as the flower expands in the water. Very smooth taste and can be used again and again in the same day. If you love tea, you gotta try these "flowering teas"'
doc2 = nlp(test_text2)
doc2.cats

{'POSITIVE': 0.9758155345916748}

**The trained model doesn't perform well as well. Have to train on more datasets and see the result. Now, try google NLP api**

In [98]:
from google.cloud import language
from google.cloud.language import enums
from google.cloud.language import types

In [101]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/jixingwei/Desktop/STA_141b_project/yelp_review.json"

**Try Google NLP API**

In [103]:
# Instantiates a client
client = language.LanguageServiceClient()

# The text to analyze
text = u'Hello, world!'
document = types.Document(
    content=text,
    type=enums.Document.Type.PLAIN_TEXT)

# Detects the sentiment of the text
sentiment = client.analyze_sentiment(document=document).document_sentiment

print('Text: {}'.format(text))
print('Sentiment: {}, {}'.format(sentiment.score, sentiment.magnitude))

Text: Hello, world!
Sentiment: 0.30000001192092896, 0.30000001192092896

In [106]:
# Instantiates a client
client = language.LanguageServiceClient()

def AnalyseSentiment(text):
    document = types.Document(content=text,type=enums.Document.Type.PLAIN_TEXT)
    # Detects the sentiment of the text
    sentiment = client.analyze_sentiment(document=document).document_sentiment
    return (sentiment.score, sentiment.magnitude)

Load 3500 samples

In [105]:
df = pd.read_sql_query("select * from review limit 3500",conn)
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25 00:00:00.000000,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13 00:00:00.000000,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23 00:00:00.000000,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
3,elqbBhBfElMNSrjFqW3now,0,2011-02-25 00:00:00.000000,0,Er4NBWCmCD4nM8_p1GRdow,2,Back in 2005-2007 this place was my FAVORITE t...,2,msQe1u7Z_XuqjGoqhB0J5g
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05 00:00:00.000000,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g

In [110]:
AnalyseSentiment(df['text'][0])

(-0.10000000149011612, 3.200000047683716)

In [113]:
df['test_score'] = df['stars'].apply(lambda star: -star)

0      -2
1      -5
2      -1
3      -2
4      -5
5      -1
6      -5
7      -5
8      -4
9      -2
10     -5
11     -1
12     -5
13     -4
14     -5
15     -4
16     -5
17     -5
18     -5
19     -5
20     -5
21     -2
22     -5
23     -1
24     -5
25     -1
26     -1
27     -5
28     -5
29     -4
       ..
3470   -5
3471   -2
3472   -5
3473   -5
3474   -3
3475   -5
3476   -1
3477   -5
3478   -5
3479   -4
3480   -4
3481   -5
3482   -2
3483   -4
3484   -5
3485   -5
3486   -2
3487   -5
3488   -3
3489   -2
3490   -3
3491   -2
3492   -4
3493   -5
3494   -5
3495   -4
3496   -3
3497   -5
3498   -3
3499   -5
Name: test_score, Length: 3500, dtype: int64

In [114]:
df['score'] = df['text'].apply(lambda text: AnalyseSentiment(text)[0])

In [119]:
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,test_score,score
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25 00:00:00.000000,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g,-2,-0.1
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13 00:00:00.000000,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,-5,0.7
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23 00:00:00.000000,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,-1,-0.3
3,elqbBhBfElMNSrjFqW3now,0,2011-02-25 00:00:00.000000,0,Er4NBWCmCD4nM8_p1GRdow,2,Back in 2005-2007 this place was my FAVORITE t...,2,msQe1u7Z_XuqjGoqhB0J5g,-2,-0.2
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05 00:00:00.000000,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,-5,0.7

In [ ]:
df.drop(columns=['test_score'],inplace=True)

In [122]:
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,score
0,iCQpiavjjPzJ5_3gPD5Ebg,0,2011-02-25 00:00:00.000000,0,x7mDIiDB3jEiPGPHOmDzyw,2,The pizza was okay. Not the best I've had. I p...,0,msQe1u7Z_XuqjGoqhB0J5g,-0.1
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13 00:00:00.000000,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,0.7
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23 00:00:00.000000,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,-0.3
3,elqbBhBfElMNSrjFqW3now,0,2011-02-25 00:00:00.000000,0,Er4NBWCmCD4nM8_p1GRdow,2,Back in 2005-2007 this place was my FAVORITE t...,2,msQe1u7Z_XuqjGoqhB0J5g,-0.2
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05 00:00:00.000000,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,0.7

In [124]:
df.to_csv('review_with_score.csv')